{{ ansible_managed | comment }}
# commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

FROM bitwalker/alpine-erlang:latest

LABEL AUTHOR="{{ maintainer }}"
LABEL TAG="{{ version }}"
LABEL REPO="{{ erland_repo }}:{{ version }}"
LABEL build_date="{{ ansible_date_time.date }}"
RUN apk update && \
    apk -U --no-cache add make gcc g++ \
        curl net-tools wget tar \
        libc6-compat xz xz-libs bash

# On Alpine Linux bash is in /bin/bash
#CMD ['/bin/bash']