{{ ansible_managed | comment }}
# commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

version: "3"
services:
  rabbit1:
    image: rabbitmq_server:{{ version }}
    hostname: rabbit1
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-admin}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-admin}
  rabbit2:
    image: rabbitmq_server:{{ version }}
    hostname: rabbit2
    links:
      - rabbit1
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-admin}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-admin}
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
      - RAM_NODE=true
    ports:
      - "5673:5672"
      - "15673:15672"
  rabbit3:
    image: rabbitmq_server:{{ version }}
    hostname: rabbit3
    links:
      - rabbit1
      - rabbit2
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-admin}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-admin}
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
    ports:
      - "5674:5672"

  rabbitn:
    image: rabbitmq_server:{{ version }}
    #hostname: rabbitNode
    links:
      - rabbit1
      - rabbit2
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-admin}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-admin}
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
