{{ ansible_managed | comment }}
# commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}

FROM rabbit_erlangbase:latest

LABEL AUTHOR="{{ maintainer }}"
LABEL TAG="{{ version }}"
LABEL REPO="{{ base_repo }}:{{ version }}"
LABEL build_date="{{ ansible_date_time.date }}"

# Do we need to add user
RUN addgroup -S rabbitmq && adduser -S -H rabbitmq -G rabbitmq -h /{{ server_path }}

WORKDIR /{{ server_path }}
#ADD rabbitmq-server-generic-unix-3.8.9.tar.xz .
#RUN wget https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.8.9/rabbitmq-server-generic-unix-3.8.9.tar.xz
#RUN tar -xvf rabbitmq-server-generic-unix-3.8.9.tar.xz

ADD {{ server_path }} ./

ADD rabbitmq.conf etc/rabbitmq/
ADD erlang.cookie var/lib/rabbitmq/.erlang.cookie

RUN chmod u+rw /{{ server_path }}/etc/rabbitmq/rabbitmq.conf \
&& chown rabbitmq:rabbitmq /{{ server_path }}/var/lib/rabbitmq/.erlang.cookie \
&& chmod 400 /{{ server_path }}/var/lib/rabbitmq/.erlang.cookie

#RUN echo "Updating PATH env"

RUN echo "export PATH=$PATH:/{{ server_path }}/sbin" >> /{{ server_path }}/.bashrc && . /{{ server_path }}/.bashrc
ENV PATH=$PATH:/{{ server_path }}/sbin
# CLI RabbitMQ tools need this variable to locate .erlang.coockie
ENV HOME=/{{ server_path }}/var/lib/rabbitmq

RUN echo -e "\e[36mENABLING PLUGINS\e[0m"
RUN rabbitmq-plugins enable --offline rabbitmq_mqtt rabbitmq_stomp rabbitmq_management rabbitmq_management_agent \
                                      rabbitmq_federation rabbitmq_federation_management

#Add startup script in /opt/rabbit
ADD startrabbit.sh /{{ server_path }}/

#Provide necessary permissions to config files
RUN  chmod a+x /{{ server_path }}/startrabbit.sh

ENTRYPOINT /{{ server_path }}/startrabbit.sh